body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
  font-size: 12px;
  max-width: 700px;
  margin: auto;
  font-family: 'Modern';
}


/*body {
    min-width: 500px;
}*/

div {
  border-radius: 5px;
}

#header {
  height: 40px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

#title {
  margin-left: 3%;
}

#footer {
  height: 50px;
  width: 100%;
  clear: both;
  position: relative;
}

.left {
  height: 1000px;
  width: 45px;
  float: left;
  position: fixed;
}

.right {
  height: 1000px;
  width: 45px;
  background-color: #e0eeee;
  float: right;
  position: inherit;
}
.title{
  text-align: center
}
.stuff {
  display: inline-block;
  margin-top: 6px;
  margin-left: 55px;
  width: 75%;
  height: 1000px;
}

li {
  font-family: 'Modern';
  position: relative;
  left: -10px;
}

.head {
  font-size: 20px;
}

#name {
  font-family: Sacramento;
  float: right;
  margin-top: 10px;
  margin-right: 4%;
}

a {
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 430px) {
  .left,
  .right {
    display: none;
  }
  .stuff {
    text-align: right;
/*     width: 100%; */
/*     margin-left: 10px; */
  }
}

.title{
  font-size: 32px;
  font-style: bold;
}
.sub-title{
  font-size: 18px;
  font-style: italic;
}

.sub-sub-title{
  font-size: 12px;
  font-style: italic;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
}

.skill{
line-height: 1.5em;
/*   margin-top: 5.5em; */
}

.sub-heading{
display: inline-block;
font-size: 20px;
/*     margin-top: 5px; */
margin-top: 3mm;
}
.first-sub-heading{
display: inline-block;
font-size: 20px;  
}
.date{
float: right;
}
.job-title{
display: inline-block;
margin-top: 5px;
}